html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

ul, ol {
    list-style: none;
}

body {
    font-family: 'Futura-Book', sans-serif;
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.22;
}

.none {
    display: none;
}

.container {
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto; 
}

.btn {
    width: 300px;
    border-radius: 10px;
    background-color: #FFA500;
    padding: 19px 68px;
    font-size: 17px;
    color: #fff;
    line-height: 19px;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in;
}

.btn:hover {
    background-color: #07086C;
}

.title {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
}

.burger {
    display: none;
    position: relative;
    z-index: 101;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #48FFFF;
}

.burger::before, .burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #48FFFF;
    transition: all 0.3s ease-in;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger.active__bur span {
    transform: scale(0);
}

.burger.active__bur::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active__bur::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

.open__bur {
    display: flex !important;
}

@keyframes burgerAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Header */

.header {
    background-image: url(./../images/header/bg-header.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 7;
}

/* Header__top */

.header__top {
    position: fixed;
    z-index: 100;
    background-image: url(./../images/header/bg-header.svg);
    width: 100%;
    top: 0;
    left: 0;

    padding: 54px 0 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    color: #fff;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    font-weight: 300;
}

.nav__link {
    opacity: 0.5;
    transition: opacity 0.3s ease-in; 
}

.nav__link:hover {
    opacity: 1;
}

.header__phone {
    display: flex;
    column-gap: 9px;
    align-items: center;
}

.header__phone span {
    font-weight: 700;
}

/* Header__main */

.header__main {
    padding-top: 188px;
    display: flex;
    column-gap: 65px;
}

.header__content {
    max-width: 835px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.header__title {
    margin-bottom: 4px;
    font-size: 69px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}

.header__title span:nth-child(1) {
    font-size: 50px;
    line-height: 1;
    color: #969AF7;
}

.header__title span:nth-child(2) {
    font-size: 61px;
    line-height: 1.22;
}

.header_subtitle {
    margin-bottom: 37px;
    max-width: 777px;
    font-size: 23px;
    line-height: 1.29;
    color: #969AF7;
}

.header__advantages {
    padding: 25px 30px;
    background-image: url(./../images/header/header-gradient.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}

.header__advantages-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.header__advantages-item {
    display: flex;
    column-gap: 14px;
    font-size: 22px;
    line-height: 1.29;
}

.header__form {
    max-width: 380px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

.header__form-title {
    color: #fff;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    padding: 32px 60px 24px;
    border-radius: 10px 10px 0px 0px;
    background: linear-gradient(180deg, #6A32B4 0%, #552693 100%);
}

.form__inner {
    padding: 55px 40px 34px;
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.header__form-name {
    position: relative;
}

.header__form-name p {
    position: absolute;
    top: -25px;
    left: 20px;
    color: #626366;
    line-height: 1.29;
}

.header__intup {
    height: 56px;
    padding: 0 20px;
    font-size: 20px;
    border-radius: 10px;
    border-color: transparent;
    background: #F5F3FF;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.10) inset;
}

.header__intup::placeholder {
    color: #BCBFC4;
    font-size: 20px;
    line-height: 1.29;
}

.header__form-bottom {
    position: relative;
    margin-top: 17px;
    padding-left: 20px;
    padding-bottom: 10px;
    color: #C0C0C0;
    font-size: 14px;
}

.header__form-bottom::before {
    position: absolute;
    content: url('./../images/header/lock.svg');
    top: 0;
    left: 25px;
    width: 16px;
    height: 16px;
}


/* Benefits */

.benefits {
    margin-top: -70px;
    margin-bottom: -135px;
    padding-top: 155px;
    padding-bottom: 188px;
    background-image: url(./../images/benefits/benefits-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

.benefits__title {
    margin-bottom: 25px;
    color: #111;
}

.benefits__subtitle {
    margin-bottom: 42px;
    max-width: 1050px;
    display: inline-block;
    color: #030303;
    font-size: 22px;
    line-height: 1.09;
}

.benefits__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 43px;
}

.benefits__card {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 32px 61px;
    max-width: 400px;
}

.benefits__card::after {
    position: absolute;
    content: url(./../images/benefits/card-bg.svg);
    bottom: -7px;
    right: 0;
}

.benefits__card img {
    margin-bottom: 39px;
    width: 157px;
    height: 163px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.benefits__card-title {
    margin-bottom: 14px;
    color: #2A336C;
    font-size: 20px;
    font-weight: 700;
}

.benefits__card-text {
    color: #555;
    font-size: 20px;
    line-height: 1.1;
}

/* Manufacturers */

.manufacturers {
    padding-top: 175px;
    padding-bottom: 135px;
    background-image: url(./../images/manufacturers/manufacturer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.manufacturers__title {
    text-align: center;
    margin-bottom: 57px;
}


/* Swiper */

.swirep__inner {
    position: relative;
}

.swiper {
    max-width: 1300px;
    height: 174px;
    border-radius: 10px;    
}

.slider__item {
    position: relative;
    width: 242px;
    height: 174px;
    background-color: #fff;
    border-radius: 10px;
}

.slider__item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-btn {
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.btn-prev {
    position: absolute;
    top: 50%;
    left: -100px;
    transform: translate(0%, -50%);
}

.btn-next {
    position: absolute;
    top: 50%;
    right: -110px;
    transform: translate(0%, -50%);
}

.manufacturers__text {
    margin-top: 42px;
    color: #fff;
    font-size: 20px;
    line-height: 1.55;
}


/* Steps */

.steps {
    margin-top: -70px;
    padding-top: 135px;
    margin-bottom: -135px;
    padding-bottom: 188px;
    
    background-image: url(./../images/steps/steps-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.steps__title {
    margin-bottom: 24px;
    color: #111;
}

.steps__subtitle {
    margin-bottom: 46px;
    font-size: 22px;
    line-height: 1;
}

.steps__inner {
    position: relative;
    counter-reset: number;
}

.steps__item {
    position: relative;
}

.steps__item:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
}

.steps__item:nth-child(2) {
    position: absolute;
    left: 440px;
    top: 0;
}

.steps__item:nth-child(3) {
    position: absolute;
    left: 880px;
    top: 0;
}

.steps__item:nth-child(4) {
    position: absolute;
    top: 300px;
    left: 0;
}

.steps__item:nth-child(5) {
    position: absolute;
    top: 300px;
    left: 414px;
}

.steps__item:nth-child(6) {
    position: absolute;
    top: 300px;
    left: 851px;
}

.steps__item::before {
    content: '0' counter(number);
	counter-increment: number;
	position: absolute;
	font-size: 36px;
	font-weight: 700;
	color: #969AF7;
	top: 33px;
	left: 45px;
	z-index: 1;
}

.steps__item img {
    position: relative;
}

.steps__item-content {
    position: absolute;
    top: 40px;
    left: 100px;
    text-align: left;
}

.steps__item-title {
    margin-bottom: 30px;
    max-width: 300px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.steps__item-text {
    position: absolute;
    font-size: 17px;
    color: #E3E3E3;
}

.steps__btn {
    margin-top: 660px;
}

.steps__inner--mobile {
    display: none;
}


/* Answers */

.answers {
    padding-top: 144px;
    padding-bottom: 95px;
    background-image: url(./../images/answers/answers-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.answers__title {
    margin-bottom: 40px;
    text-align: center;
}


/* Accordeon */

.accordeon {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.accordeon__item {
    border-radius: 10px;
    border: 1px solid #167EC2;
    background: #FFF;
}

.accordeon__item-title {
    position: relative;
    text-align: left;
    padding: 30px 75px 30px 53px;
    font-size: 24px;
    color: #333;
    font-weight: 600;
    line-height: 1.16;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(180deg, #FFF 50.57%, #BDC0FF 100%);
    box-shadow: 0px 0px 50px -10px rgba(22, 126, 194, 0.20);
}

.accordeon__item-title--active {
    color: #fff;
    border-radius: 10px;
    background: linear-gradient(180deg, #969AF7 0%, #686EEC 100%);
}

.accordeon__item-title::after {
    position: absolute;
    content: '';
    background-image: url('./../images/answers/ans-arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #757AEF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: 24px;
    right: 37px;
}

.accordeon__item-title.accordeon__item-title--active::after {
    background-image: url(./../images/answers/ans-arrow2.svg);
    background-color: #fff;
}

.accordeon__item-text {
    overflow: hidden;
    font-size: 20px;
    color: #333;
    line-height: 1.35;
    opacity: 0;
    max-height: 0;
    padding: 0 40px;
    transition: opacity .2s, max-height .3s;
    transition: all .3s;
}

.accordeon__item-text.accordeon__item-text--visible {
    opacity: 1;
}

.accordeon__item-title--active + .accordeon__item-text {
    padding: 20px 40px;
}


/* Footer */

.footer {
    background-color: #333;
    padding: 72px 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: #fff
}

.footer__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-weight: 300;
}

.footer__link {
    opacity: 0.5;
    transition: opacity 0.3s ease-in; 
}

.footer__link:hover {
    opacity: 1;
}

.footer__btn {
    background-color: #969AF7;
}


@media (max-width: 1270px) {
    .header__top {
        justify-content: space-between;
        padding-right: 10px;
        padding-left: 10px;
    }
    .burger {
        display: flex;
    }
    .nav {
        order: 1;
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 101;
        overflow-y: auto;
        padding: 50px 40px;
        text-align: center;
        background-color: #000;
        font-size: 30px;
        animation: burgerAnimation 0.4s;
    }
    .nav__list {
        flex-direction: column;
        row-gap: 30px;
    }
    .header__content {
        max-width: 555px;
    }
    .header__title {
        font-size: 50px;
    }
    .header__title span:nth-child(1) {
        font-size: 33px;
    }
    .header__title span:nth-child(2) {
        font-size: 40px;
    }
    .header_subtitle {
        font-size: 20px;
    }
    .header__advantages-item {
        font-size: 18px;
    }
    .header__main {
        justify-content: space-around;
    }
    .benefits__cards {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    .benefits__card {
        margin: 0 auto;
        max-width: 400px;
        padding: 10px 10px 40px;
    }
    .benefits__card img {
        width: 79px;
        height: 81px;
        margin-bottom: 15px;
    }
    .title {
        font-size: 33px;
    }
    .swiper {
        max-width: 800px;
    }
    .btn-prev {
        left: 0;
    }
    .btn-next {
        right: 0;
    }
    .steps__inner {
        display: none;
    }
    .steps__inner--mobile {
        display: flex;
        flex-direction: column;
        gap: 25px;
        list-style: decimal;
    }
    .steps__item-title--mobile {
        margin-bottom: 10px;
    }
    .steps__btn {
        margin-top: 50px;
    }
    .footer__list {
        flex-direction: column;
    }
    .footer__content {
        justify-content: space-around;
    }
}


@media (max-width: 1024px) {
    .header__title {
        font-size: 40px;
    }
    .header__title span:nth-child(1) {
        font-size: 23px;
    }
    .header__title span:nth-child(2) {
        font-size: 30px;
    }
    .header_subtitle {
        font-size: 18px;
    }
    .header__advantages-item {
        font-size: 15px;
    }
    .header__form-title {
        padding: 19px;
        font-size: 19px;
    }
    .form__inner {
        padding: 40px 20px 22px;
    }
    .nav {
        font-size: 22px;
    }
    .header__top {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .header__form-bottom {
        font-size: 12px;
    }
    .title {
        font-size: 26px;
    }
    .swiper {
        max-width: 800px;
    }
    .btn-prev {
        left: 0;
    }
    .btn-next {
        right: 0;
    }
    .manufacturers__text {
        font-size: 18px;
    }
    .manufacturers {
        padding-top: 100px;
    }
    .accordeon__item-title {
        padding: 30px 50px 30px 30px;
    }
    .accordeon__item-title::after {
        right: 10px;
    }
    .footer__nav {
        display: none;
    }
    .footer {
        padding: 30px 0;
    }
}

@media (max-width: 870px) {
    .header__main {
        flex-direction: column;
        row-gap: 40px;
        align-items: center;
        padding-top: 100px;
    }
    .header__content {
        text-align: center;
    }
    .benefits__cards {
        gap: 20px;
    }
    .benefits {
        margin-top: -30px;
    }
    .swiper {
        max-width: 600px;
    }
    .btn-prev {
        left: 0;
    }
    .btn-next {
        right: 0;
    }
    .accordeon__item-title {
        font-size: 20px;
    }
    .accordeon__item-text {
        font-size: 17px;
    }
}

@media (max-width: 730px) {
    .benefits__cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .benefits__card {
        width: 100%;
    }
    .benefits__subtitle {
        font-size: 20px;
    }
    .swiper {
        max-width: 600px;
    }
    .btn-prev {
        left: 0;
    }
    .btn-next {
        right: 0;
    }
    .manufacturers__text {
        font-size: 16px;
    }
    .footer__content {
        flex-direction: column;
    }
}

@media (max-width: 530px) {
    .nav {
        font-size: 18px;
    }
    .header__title {
        font-size: 33px;
    }
    .header__title span:nth-child(1) {
        font-size: 20px;
    }
    .header__title span:nth-child(2) {
        font-size: 25px;
    }
    .header_subtitle {
        margin-bottom: 20px;
        font-size: 16px;
    }
    .header__advantages-item {
        font-size: 13px;
    }
    .header__phone img {
        display: none;
    }
    .logo img {
        max-width: 100px;
    }
    .form__inner {
        padding: 30px 10px 10px;
    }
    .header__intup {
        height: 40px;
        font-size: 15px;
    }
    .header__intup::placeholder {
        font-size: 15px;
    }
    .btn {
        max-width: 250px;
        padding: 15px 20px;
    }
    .header__form  {
        max-width: 300px;
    }
    .header__main {
        row-gap: 20px;
    }
    .header__form-name p {
        font-size: 16px;
    }
    .header__form-bottom {
        font-size: 10px;
    }
    .header__form-bottom::before {
        top: -3px;
    }
    .title {
        font-size: 24px;
    }
    .benefits__card {
        max-width: 500px;
        padding: 10px;
    }
    .benefits__card img {
        display: none;
    }
    .benefits__subtitle {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .benefits__title {
        margin-bottom: 10px;
    }
    .benefits__card::after {
        display: none;
    }
    .benefits__card-title {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .benefits__card-text {
        font-size: 14px;
    }
    .benefits__cards {
        gap: 10px;
    }
    .benefits {
        padding-top: 80px;
        padding-bottom: 150px;
    }
    .swiper {
        max-width: 400px;
    }
    .btn-prev {
        left: 0;
    }
    .btn-next {
        right: 0;
    }
    .accordeon__item-title {
        padding: 20px 75px 20px 30px;
    }
}

@media (max-width:390px) {
    .header {
        height: 80vh;
    }
    .header__phone {
        font-size: 15px;
    }
    .logo img {
        max-width: 70px;
    }
    .header__top {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header__main {
        padding-top: 60px;
    }
    .header__title {
        font-size: 25px;
    }
    .header__title span:nth-child(1) {
        font-size: 16px;
    }
    .header__title span:nth-child(2) {
        font-size: 19px;
    }
    .header_subtitle {
        margin-bottom: 20px;
        font-size: 12px;
    }
    .header__advantages {
        padding: 10px;
    }
    .header__advantages-item {
        font-size: 11px;
    }
    .header__form-title {
        padding: 10px;
        font-size: 10px;
    }
    .header__form {
        max-width: 250px;
    }
    .btn {
        max-width: 200px;
        font-size: 14px;
        padding: 10px;
    }
    .header__form-bottom {
        font-size: 8px;
        margin-top: 10px;
    }
    .title {
        font-size: 22px;
    }
    .swiper {
        max-width: 300px;
    }
    .btn-prev {
        left: 0;
        display: none;
    }
    .btn-next {
        right: 0;
        display: none;
    }
    .manufacturers__text {
        font-size: 14px;
    }
}