html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

ul, ol {
    list-style: none;
}

body {
    font-family: 'Futura-Book', sans-serif;
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.22;
}

.container {
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto; 
}

.btn {
    width: 300px;
    border-radius: 10px;
    background-color: #FFA500;
    padding: 19px 68px;
    font-size: 17px;
    color: #fff;
    line-height: 19px;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in;
}

.btn:hover {
    background-color: #07086C;
}

.title {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
}

/* Header */

.header {
    background-image: url(./../images/header/bg-header.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 7;
}

/* Header__top */

.header__top {
    padding: 54px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    color: #fff;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    font-weight: 300;
}

.nav__link {
    opacity: 0.5;
    transition: opacity 0.3s ease-in; 
}

.nav__link:hover {
    opacity: 1;
}

.header__phone {
    display: flex;
    column-gap: 9px;
    align-items: center;
}

.header__phone span {
    font-weight: 700;
}

/* Header__main */

.header__main {
    display: flex;
    column-gap: 65px;
}

.header__content {
    max-width: 835px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.header__title {
    margin-bottom: 4px;
    font-size: 69px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}

.header__title span:nth-child(1) {
    font-size: 50px;
    line-height: 1;
    color: #969AF7;
}

.header__title span:nth-child(2) {
    font-size: 61px;
    line-height: 1.22;
}

.header_subtitle {
    margin-bottom: 37px;
    max-width: 777px;
    font-size: 23px;
    line-height: 1.29;
    color: #969AF7;
}

.header__advantages {
    padding: 25px 30px;
    background-image: url(./../images/header/header-gradient.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}

.header__advantages-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.header__advantages-item {
    display: flex;
    column-gap: 14px;
    font-size: 22px;
    line-height: 1.29;
}

.header__form {
    max-width: 380px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

.header__form-title {
    color: #fff;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    padding: 32px 60px 24px;
    border-radius: 10px 10px 0px 0px;
    background: linear-gradient(180deg, #6A32B4 0%, #552693 100%);
}

.form__inner {
    padding: 55px 40px 34px;
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.header__form-name {
    position: relative;
}

.header__form-name p {
    position: absolute;
    top: -25px;
    left: 20px;
    color: #626366;
    line-height: 1.29;
}

.header__intup {
    width: 300px;
    height: 56px;
    padding: 0 20px;
    font-size: 20px;
    border-radius: 10px;
    border-color: transparent;
    background: #F5F3FF;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.10) inset;
}

.header__intup::placeholder {
    color: #BCBFC4;
    font-size: 20px;
    line-height: 1.29;
}

.header__form-bottom {
    position: relative;
    margin-top: 17px;
    padding-left: 20px;
    color: #C0C0C0;
    font-size: 14px;
}

.header__form-bottom::before {
    position: absolute;
    content: url('./../images/header/lock.svg');
    top: 0;
    left: 25px;
    width: 16px;
    height: 16px;
}


/* Benefits */

.benefits {
    margin-top: -70px;
    margin-bottom: -135px;
    padding-top: 155px;
    padding-bottom: 188px;
    background-image: url(./../images/benefits/benefits-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

.benefits__title {
    margin-bottom: 25px;
    color: #111;
}

.benefits__subtitle {
    margin-bottom: 42px;
    max-width: 1050px;
    display: inline-block;
    color: #030303;
    font-size: 22px;
    line-height: 1.09;
}

.benefits__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 43px;
}

.benefits__card {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 32px 61px;
}

.benefits__card::after {
    position: absolute;
    content: url(./../images/benefits/card-bg.svg);
    bottom: -7px;
    right: 0;
}

.benefits__card img {
    margin-bottom: 39px;
    width: 157px;
    height: 163px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.benefits__card-title {
    margin-bottom: 14px;
    color: #2A336C;
    font-size: 20px;
    font-weight: 700;
}

.benefits__card-text {
    color: #555;
    font-size: 20px;
    line-height: 1.1;
}

/* Manufacturers */

.manufacturers {
    padding-top: 194px;
    background-image: url(./../images/manufacturers/manufacturer-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 7;
}

.manufacturers__title {
    text-align: center;
    margin-bottom: 57px;
}


/* Swiper */

.swirep__inner {
    position: relative;
}

.swiper {
    width: 1300px;
    height: 174px;
    border-radius: 10px;    
}

.slider__item {
    position: relative;
    width: 242px;
    height: 174px;
    background-color: #fff;
    border-radius: 10px;
}

.slider__item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-btn {
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.btn-prev {
    position: absolute;
    top: 50%;
    left: -100px;
    transform: translate(0%, -50%);
}

.btn-next {
    position: absolute;
    top: 50%;
    right: -110px;
    transform: translate(0%, -50%);
}

.manufacturers__text {
    margin-top: 42px;
    color: #fff;
    font-size: 20px;
    line-height: 1.55;
}


/* Steps */

.steps {
    margin-top: -70px;
    padding-top: 135px;
    margin-bottom: -135px;
    padding-bottom: 188px;
    
    background-image: url(./../images/steps/steps-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.steps__title {
    margin-bottom: 24px;
    color: #111;
}

.steps__subtitle {
    margin-bottom: 46px;
    font-size: 22px;
    line-height: 1;
}

.steps__inner {
    position: relative;
    counter-reset: number;
}

.steps__item {
    position: relative;
}

.steps__item:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
}

.steps__item:nth-child(2) {
    position: absolute;
    left: 440px;
    top: 0;
}

.steps__item:nth-child(3) {
    position: absolute;
    left: 880px;
    top: 0;
}

.steps__item:nth-child(4) {
    position: absolute;
    top: 300px;
    left: 0;
}

.steps__item:nth-child(5) {
    position: absolute;
    top: 300px;
    left: 414px;
}

.steps__item:nth-child(6) {
    position: absolute;
    top: 300px;
    left: 851px;
}

.steps__item::before {
    content: '0' counter(number);
	counter-increment: number;
	position: absolute;
	font-size: 36px;
	font-weight: 700;
	color: #969AF7;
	top: 33px;
	left: 45px;
	z-index: 1;
}

.steps__item img {
    position: relative;
}

.steps__item-content {
    position: absolute;
    top: 40px;
    left: 100px;
    text-align: left;
}

.steps__item-title {
    margin-bottom: 30px;
    max-width: 300px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.steps__item-text {
    position: absolute;
    font-size: 17px;
    color: #E3E3E3;
}

.steps__btn {
    margin-top: 660px;
}